.items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;
}

.components {
    overflow-y: overlay;
    max-height: 464px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}